/* Signup page styles */

/* Main container */
.container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  /* Signup form */
  form {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  
  /* Form title */
  h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
    color: #555;
  }
  
  /* Form fields */
  label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
  }
  
  /* Submit button */
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  /* Switch button */
  .switch-btn {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
    color: #555;
  }
  
  .switch-btn a {
    color: #2196F3;
    text-decoration: none;
  }
  
  .switch-btn a:hover {
    text-decoration: underline;
  }
  a {
    margin-right: 20px;
    color: #0077ff;
    text-decoration: none;
    border-bottom: 2px solid #0077ff;
    padding: 2px;
    transition: all 0.2s ease-in-out;
  }
  
  a:hover {
    color: #0052cc;
    border-bottom: 2px solid #0052cc;
  }
  